.cco{
  color:purple;
}
.line-h-60{
  line-height: 60px
}.line-h-50{
  line-height: 50px
}.line-h-40{
  line-height: 40px
}.line-h-30{
  line-height: 30px
}.line-h-20{
  line-height: 20px
}.line-h-10{
  line-height: 10px
}.line-h-00{
  line-height: 1px
}
.label-35{
     font-size: 35px;
}.label-30{
     font-size: 30px;
}.label-29{
     font-size: 29px;
}.label-28{
     font-size: 28px;
}.label-27{
     font-size: 27px;
}.label-26{
     font-size: 26px;
}.label-25{
     font-size: 25px;
}.label-24{
     font-size: 24px;
}.label-23{
     font-size: 23px;
}.label-22{
     font-size: 22px;
}.label-21{
     font-size: 21px;
}.label-20{
     font-size: 20px;
}.label-19{
     font-size: 19px;
}.label-18{
     font-size: 18px;
}.label-17{
     font-size: 17px;
}.label-16{
     font-size: 16px;
}.label-15{
     font-size: 15px;
}.label-14{
     font-size: 14px;
}.label-13{
     font-size: 13px;
}.label-12{
     font-size: 12px;
}.label-11{
     font-size: 11px;
}.label-10{
     font-size: 10px;
}
.card{
     padding-top: 15px;
     padding-bottom: 15px;
     padding-right: 20px;
     padding-left: 20px;
     font-weight: 600;
     border-radius: 10px;
}
.shadow{
     box-shadow: #171717 0px 0px 3px;
}
.card-color{
     /*color: #ffffff;
     background: #323232;*/
}
.card-thin{
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 5px;
     padding-left: 5px;
     font-weight: 400;
     border-radius: 10px;
}
.card-extrathin{
     padding: 3px;
     font-weight: 400;
     border-radius: 10px;
}
.card-come:hover{
     background: #f9f06b;
}
.card-still:hover{
     background: #8ff0a4;
}
.card-past:hover{
     background: #f66151;
}

.come{
     background: #6e6745;
     color: yellow;
     padding: 5px;
     padding-right: 10px;
     padding-left: 10px;
     border-radius: 10px;
}
.past{
     background: #2f2121;
     color: red;
     padding: 5px;
     padding-right: 10px;
     padding-left: 10px;
     border-radius: 10px;
}
.still{
     background: #3b523e;
     color: #57e389;
     padding: 5px;
     padding-right: 10px;
     padding-left: 10px;
     border-radius: 10px;
}
.come-thin{
     background: #6e6745;
     color: yellow;
     padding: 2px;
     padding-right: 6px;
     padding-left: 6px;
     border-radius: 10px;
}
.past-thin{
     background: #2f2121;
     color: red;
     padding: 2px;
     padding-right: 6px;
     padding-left: 6px;
     border-radius: 10px;
}
.still-thin{
     background: #3b523e;
     color: #57e389;
     padding: 2px;
     padding-right: 6px;
     padding-left: 6px;
     border-radius: 10px;
}
.no-pad{
  padding: 0px;
}
.no-pad box{
     padding-top: 5px;
     padding-bottom: 5px;
     padding-right: 10px;
     padding-left: 10px;
}
.pad-meduim{
     padding: 0;
   border-radius: 4px;
}
.past-md{
   background: #a51d2d;
}
.come-md{
   background: #e5a50a;
}
.still-md{
   background: #26a269;
}
.light{
  font-weight: 300;
}
.bold{
  font-weight: 700;
}
.meduim{
  font-weight: 500;
}
.extrabold{
  font-weight: 700;
}


